<div class="add">
	<a class="gcs-circled-add add" data-type="move_types"></a>
	{{#if actor}}
	<a class="gcs-reset reset-all" data-type="move_types"></a>
	<div>{{localize "gurps.settings.reset_all"}}</div>
	{{/if}}
</div>
<div class="item-list">
	{{#each moveTypes}}
	{{/each}}
</div>
