fieldset.details-prereqs {
	ul {
		list-style: none;
	}

	> ul {
		padding: 0;
	}

	li {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.form-fields {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;

			select {
				width: fit-content;
			}
		}

		button {
			flex: 0;
			width: 1.5rem;
			padding: 0 0.625rem;

			i {
				width: 1.25rem;
				margin: auto;
			}
		}
	}
}
