fieldset.details-features {
	> button {
		margin-bottom: 0.5rem;
	}

	.form-fields.dr-locations {
		display: flex;
		flex-wrap: wrap;
		gap: 0;
		// gap: 0.25rem;

		> label {
			// flex-basis: calc(25% - 0.25rem);
			flex-basis: 25%;
			box-sizing: border-box;
		}
	}
}
