.gurps.item.sheet {
	&.trait,
	&.trait_container {
		--filter-header: hue-rotate(46deg) saturate(0.58) brightness(1.39);
	}
	&.skill,
	&.technique,
	&.skill_container {
		--filter-header: hue-rotate(256deg) saturate(0.32) brightness(1.29);
	}
	&.spell,
	&.ritual_magic_spell,
	&.spell_container {
		--filter-header: hue-rotate(359deg) saturate(0.57) brightness(0.86);
	}
	&.equipment_gcs,
	&.equipment_container {
		--filter-header: hue-rotate(192deg) saturate(1) brightness(1.2);
	}
	&.note,
	&.note_container {
		--filter-header: hue-rotate(279deg) saturate(0.27) brightness(1.15);
	}
	&.melee_weapon,
	&.ranged_weapon {
		--filter-header: hue-rotate(194deg) saturate(1) brightness(0.81);
	}
}

.gurps.item.sheet {
	@import "header";

	border-radius: 0.625rem;

	section.tab {
		max-height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	fieldset {
		padding: 0.5rem;
		margin: 1rem;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 0;
		border-color: #bbb;
		border-radius: 0.5rem;

		hr {
			margin: 0.2rem 0;
		}

		select {
			width: fit-content;
		}
		select,
		input[type="text"],
		input[type="number"] {
			height: 1.5rem;
			line-height: 1.5rem;

			&::placeholder {
				opacity: 0.5;
			}

			// Show disabled fields as transparent.
			&:disabled {
				&::placeholder {
					color: transparent;
				}
				// color: transparent;
			}
		}

		.form-fields {
			white-space: nowrap;
		}

		label:has(input[type="checkbox"]) {
			display: flex;
			flex-direction: row;
			white-space: nowrap;
			align-items: center;
		}
	}

	@import "details_prereqs", "details_features", "details_defaults";
	@import "embeds";
}

.gurps.item.sheet.minimized {
	> header.window-header {
		// Make Window Icon and Title visible in minimized sheet
		h1.window-title,
		i.window-icon {
			opacity: 1;
		}
	}
}
