.gurps.item.sheet {
	&.trait,
	&.trait_container {
		--filter-header: hue-rotate(46deg) saturate(0.58) brightness(1.39);
	}
	&.skill,
	&.technique,
	&.skill_container {
		--filter-header: hue-rotate(256deg) saturate(0.32) brightness(1.29);
	}
	&.spell,
	&.ritual_magic_spell,
	&.spell_container {
		--filter-header: hue-rotate(359deg) saturate(0.57) brightness(0.86);
	}
	&.equipment_gcs,
	&.equipment_container {
		--filter-header: hue-rotate(192deg) saturate(1) brightness(1.2);
	}
	&.note,
	&.note_container {
		--filter-header: hue-rotate(279deg) saturate(0.27) brightness(1.15);
	}
}

.gurps.active-effect.sheet {
	&.effect {
		--filter-header: hue-rotate(194deg) saturate(1) brightness(0.81);
	}
}

.gurps.action.sheet {
	&.attackMelee,
	&.attackRanged {
		--filter-header: hue-rotate(194deg) saturate(1) brightness(0.81);
	}
}

.theme-light .gurps.item.sheet,
.theme-light .gurps.active-effect.sheet,
.theme-light .gurps.action.sheet {
	--background-color: var(--gurps-color-light-blue-1);
	input,
	select,
	span.input-disabled {
		--input-background-color: var(--gurps-color-light-blue-2);
		--checkbox-background-color: var(--gurps-color-light-blue-2);
		--checkbox-disabled-color: var(--gurps-color-light-blue-2);
		--checkbox-checked-color: var(--gurps-color-orange-1);
	}
}

.gurps.item.sheet,
.gurps.active-effect.sheet,
.gurps.action.sheet {
	--background-color: var(--gurps-color-dark-gray);
	input,
	select,
	span.input-disabled {
		--input-background-color: var(--gurps-color-dark-blue);
		--checkbox-background-color: var(--gurps-color-dark-blue);
		--checkbox-disabled-color: var(--gurps-color-dark-blue);
		--checkbox-checked-color: var(--gurps-color-orange-1);
	}
}

.gurps.item.sheet,
.gurps.active-effect.sheet,
.gurps.action.sheet {
	@import "header";

	min-width: 600px;
	border-radius: 0.625rem;

	section.window-content {
		background: var(--background-color);
	}

	section.tab {
		max-height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 1rem;
	}

	fieldset {
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 0;
		border-color: #bbb;
		border-radius: 0.5rem;

		p.hint {
			text-align: end;
		}

		hr {
			margin: 0.2rem 0;
		}

		select {
			width: fit-content;
		}

		select,
		input[type="text"],
		input[type="checkbox"],
		input[type="number"],
		span.input-disabled {
			height: 1.5rem;
			line-height: 1.5rem;

			&::placeholder {
				opacity: 0.5;
			}

			// Show disabled fields as transparent.
			&:disabled {
				&::placeholder {
					color: transparent;
				}
			}
		}

		span.input-disabled {
			width: 100%;
			height: 1.5rem;
			line-height: 1.5rem;
			background: var(--input-background-color);
			padding: 0 0.5rem;
			border: 1px solid var (--input-border-color);
			border-radius: 4px;
			outline: 1px solid transparent;
			color: var(--input-text-color);
			font-size: var(--font-size-14);
		}

		.form-fields {
			white-space: nowrap;
		}

		label:has(input[type="checkbox"]) {
			display: flex;
			flex-direction: row;
			white-space: nowrap;
			align-items: center;
		}
	}

	span.replaced-text {
		background-color: red;
		padding: 0.1rem;
		border-radius: 0.25rem;
	}

	fieldset.details-list {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		hr {
			margin: 0.5rem 0;
		}

		li {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.form-fields {
				&.secondary {
					padding-left: 2.125rem;
				}

				display: flex;
				flex-direction: row;
				gap: 0.5rem;
			}
		}

		button {
			flex: 0;
			width: 1.5rem;
			height: 1.5rem;
			padding: 0 0.625rem;

			i {
				width: 1.25rem;
				height: 1.25rem;
				margin: auto;
				align-content: center;
			}
		}

		> button {
			margin-bottom: 0.5rem;
		}
	}

	@import "details_prereqs", "details_features", "details_study";
	@import "embeds";
}

.gurps.item.sheet.minimized,
.gurps.active-effect.sheet.minimized,
.gurps.action.sheet.minimized {
	min-width: unset;
	> header.window-header {
		// Make Window Icon and Title visible in minimized sheet
		h1.window-title,
		i.window-icon {
			opacity: 1;
		}
	}
}
