<div class="dice-roll skill">
	<div data-actor-id="{{actor.actor.id}}" data-type="location" class="name rollable">{{localize "gurps.roll.location" name=actor.name}}</div>
	<hr/>
	<div class="dice-result">
	<div class="dice-total failure">{{location}}</div>
	{{{tooltip}}}
	</div>
</div>
