<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="replacements">
	<fieldset>
		{{#eachInMap system.replacements}}
		<!-- Divider between entries	 -->
		{{#unless @first}}
		<hr />
		{{/unless}}

		<div class="form-group">
			<label>@{{key}}@</label>
			<div class="form-fields">
				<input type="text" name="system.replacements.{{key}}" value="{{value}}" />
			</div>
		</div>

		{{/eachInMap}}
	</fieldset>
</section>
