<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="embeds">
	<gurps-inventory>
		<div class="items-list inventory-list">{{#each embedsParts as |part|}} {{> (part) @root }} {{/each}}</div>
	</gurps-inventory>
</section>
