<form autocomplete="off" onsubmit="event.preventDefault();">
	<div>{{localize "gurps.system.library_import.file_picker_multiple"}}</div>
	<label for="data">{{localize "gurps.system.library_import.source_data"}}</label>
	<input type="file" name="data" accept=".gcs" multiple/>
</form>
