<form autocomplete="off" onsubmit="event.preventDefault();">
	<div>{{localize "gurps.system.library_import.file_picker_multiple"}}</div>
	<label for="data">Source Data</label>
	<input type="file" name="data" webkitdirectory directory multiple/>
</form>
