<div id="features">
	<header>
		<span>{{ localize "gurps.feature.header" }}</span>
	</header>
	<ul>
		<div>
			<a class="button gcs-circled-add" data-action="add-feature"></a>
		</div>
		{{#each system.features}} {{#if (eq this.type "attribute_bonus") }} {{>item/sections/feature/attribute-bonus}}
		{{/if}} {{#if (eq this.type "reaction_bonus") }} {{>item/sections/feature/reaction-bonus}} {{/if}} {{#if (eq
		this.type "dr_bonus") }} {{>item/sections/feature/dr-bonus}} {{/if}} {{#if (eq this.type "conditional_modifier")
		}} {{>item/sections/feature/conditional-modifier}} {{/if}} {{#if (eq this.type "weapon_switch")}}
		{{>item/sections/feature/weapon-switch}} {{/if}} {{#if (in ../weaponFeatures this.type)}}
		{{>item/sections/feature/weapon-bonus}} {{/if}} {{#if (eq this.type "skill_bonus") }}
		{{>item/sections/feature/skill-bonus }} {{/if}} {{#if (eq this.type "spell_bonus") }}
		{{>item/sections/feature/spell-bonus }} {{/if}} {{#if (eq this.type "skill_point_bonus") }}
		{{>item/sections/feature/skill-point-bonus }} {{/if}} {{#if (eq this.type "spell_point_bonus") }}
		{{>item/sections/feature/spell-point-bonus }} {{/if}} {{#if (eq this.type "move_bonus") }}
		{{>item/sections/feature/move-bonus }} {{/if}} {{#if (eq this.type "weapon_switch") }}
		{{>item/sections/feature/weapon-switch }} {{/if}} {{#if (in @root.weaponBonusTypes this.type)}}
		{{>item/sections/feature/weapon-bonus}} {{/if}} {{/each}}
	</ul>
</div>
