<div id="prereqs">
	<header>
		<span>{{ localize "gurps.prereq.header" }}</span>
	</header>
	<ul>
		{{#with system.prereqs}} {{>item/sections/prereq/prereq-list path="array.system.prereqs" indent=0 config=config
		attributes=attributes}} {{/with}}
	</ul>
</div>
