section[data-tab="embeds"] {
	div.inventory-list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	div.items-section {
		div.items-header {
			display: flex;
			align-items: stretch;
			background-color: #2c2f33; // Dark muted background
			color: #d1d1d1; // Light grey text for headers
			border-radius: 0.25rem 0.25rem 0 0;
			border-bottom: 1px solid #3a3d41; // Thin border separating the header
		}

		> ul.item-list {
			min-height: 1.625rem;
		}

		ul.item-list {
			list-style: none;
			padding: 0;
			margin: 0;
			background-color: #25282b; // Slightly darker shade for odd rows
			border-radius: 0 0 0.25rem 0.25rem;
		}

		li.item {
			margin-bottom: 0;
			background-color: #25282b; // Slightly darker shade for odd rows
			color: #e1e1e1; // Off-white text color
			position: relative; // For ::before element

			// &:nth-of-type(even),
			&.banding {
				background-color: #2f3338; // Neutral grey/soft navy for even rows
			}

			&.above {
				border-top: 1px solid red;
			}

			&.below {
				border-bottom: 1px solid red;
			}

			&.inside {
				&::before {
					content: "";
					font-family: "Font Awesome 5 Pro";
					color: red;
					border: 1px solid red;
					position: absolute;
					height: calc(100% - 12px);
					width: calc(100% - 12px);
					padding: 5px;
					z-index: calc(var(--z-index-window) + 5);
				}
			}

			// &:nth-child(even) {
			// 	background-color: #2f3338; // Neutral grey/soft navy for even rows
			// }

			&:last-child {
				border-radius: 0 0 0.25rem 0.25rem;
			}

			// &:hover {
			// 	background-color: #3a6479; // Soft blue hover effect
			// }

			div.item-row {
				display: flex;
				align-items: stretch;
				height: fit-content;
			}
		}
	}

	// [data-item-id="LdpFXa8sXckaG9cp"] {
	// 	&::before {
	// 		content: "";
	// 		font-family: "Font Awesome 5 Pro";
	// 		color: blue;
	// 		border: 1px solid blue;
	// 		position: absolute;
	// 		height: calc(100% - 12px);
	// 		width: calc(100% - 12px);
	// 		padding: 5px;
	// 	}
	// }

	.item-header.item-name {
		padding-left: 0.3rem;
	}

	.item-header,
	.item-detail {
		align-items: center;
		display: flex;
		font-size: 0.8rem;
		height: fit-content;
		// height: 1.625rem;
		justify-content: center;
		padding: 0.3rem 0;

		&:last-child {
			border-right: 0;
		}

		&.item-name {
			flex: 1;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 0.5rem;

			.name {
				flex-grow: 1;
				white-space: nowrap;

				.item-notes {
					flex-basis: 100%;
					font-size: 0.6rem;
				}
			}
		}

		&.item-dropdown {
			display: flex;
			width: 1rem;
			justify-content: center;
		}

		&.item-toggle {
			width: 2rem;
			&.enabled {
				color: #e1e1e1;
			}
			&:hover {
				color: #5db7de; // Light blue tint when hovering over checkmark
			}
		}

		&.item-tech-level {
			width: 2.25rem;
		}

		&.item-cost-adjustment {
			width: 10rem;
		}

		&.item-weight-adjustment {
			width: 10rem;
		}

		&.item-controls {
			width: 2rem;
		}

		&.item-skill-level {
			width: 2rem;
		}

		&.item-damage {
			width: 6rem;
		}

		&.item-maintenance-cost {
			width: 4rem;
		}

		&.item-accuracy,
		&.item-parry,
		&.item-block,
		&.item-reach,
		&.item-strength,
		&.item-bulk,
		&.item-recoil,
		&.item-shots,
		&.item-range,
		&.item-spell-class,
		&.item-college,
		&.item-casting-cost,
		&.item-casting-time,
		&.item-duration,
		&.item-difficulty,
		&.item-rof {
			width: 3rem;
		}

		&.item-quantity,
		&.item-legality-class,
		&.item-cost,
		&.item-cost-extended,
		&.item-weight,
		&.item-prereq-count,
		&.item-weight-extended {
			width: 2rem;
		}
	}

	.item-detail {
		&.item-toggle {
			color: #000000;
		}
	}
}
