.actor.sheet section.window-content {
	@import "embeds";

	display: grid;
	padding: 0;
	gap: var(--gap-section);

	section {
		display: grid;
		gap: var(--gap-section);
	}

	div#portrait,
	div#identity,
	div#miscellaneous,
	div#description,
	div#points,
	div#primary-attributes,
	div#basic-damage,
	div#secondary-attributes,
	div#pool-attributes {
		@include header;
		@include fieldblock;

		> div {
			height: calc(100% - 1.125rem);
			padding: 0.25rem;
			color: rgb(var(--color-on-background));
			background: rgb(var(--color-background));
			border: 1px solid rgb(var(--color-header));
			border-top: 0;
		}
	}

	section#personal {
		display: grid;
		gap: var(--gap-section);

		grid-area: personal;
		display: grid;
		grid-template:
			"portrait identity miscellaneous points"
			"portrait description description points";
	}

	div#portrait {
		grid-area: portrait;

		.img-display {
			aspect-ratio: 1/1;

			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;

			.profile-img {
				width: 90%;
				aspect-ratio: 1/1;

				opacity: 0;
				border: none;
			}
		}
	}

	div#identity {
		grid-area: identity;
	}

	div#miscellaneous {
		grid-area: miscellaneous;
	}

	div#points {
		grid-area: points;
	}

	div#description {
		grid-area: description;
		display: grid;

		div.content {
			display: grid;
			grid-auto-flow: column;
			height: 100%;
		}
	}
	// &.character {
	// 	@import "character";
	// }
	// .error {
	// 	background-color: rgb(var(--color-error));
	// 	color: rgb(var(--color-on-error));
	// 	display: grid;
	// 	grid-auto-flow: column;
	// 	grid-auto-columns: min-content;
	// 	gap: 3px;
	// 	padding: var(--padding-standard);
	// 	width: min-content;
	// 	white-space: nowrap;
	// }
}

// @import "character_config";
