.actor.sheet section.window-content {
	@import "embeds";

	display: grid;
	padding: 0;
	gap: var(--gap-section);

	section {
		display: grid;
		gap: var(--gap-section);
	}
}

@import "character";
// @import "character_config";
