<div id="portrait">
	<header>{{localize "gurps.character.portrait"}}</header>
	<div class="img-display" style="background-image: url({{actor.img}});">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
	</div>
</div>