<section class="tab {{ tab.cssClass }}" data-group="primary" data-tab="combat">
	<div class="pools">{{#each system.attributes.pool}} {{ this.element }} {{/each}}</div>
	<!-- Hit Location Table -->
	<hit-location-table />
</section>
