<section class="tab {{ tab.cssClass }}" data-group="primary" data-tab="combat">
	<!-- Hit Location Table -->
	<hit-location-table>
		<tr>
			<th>Roll</th>
			<th>Location</th>
			<th>DR</th>
			<th>Notes</th>
		</tr>
	</hit-location-table>
</section>
