#other-equipment {
	grid-area: other_equipment;
	grid-template-columns: auto 1fr repeat(7, auto);
	.header {
		grid-area: auto;
	}

	.quantity:nth-child(18n + 1),
	.desc:nth-child(18n + 2),
	.uses:nth-child(18n + 3),
	.tech-level:nth-child(18n + 4),
	.legality-class:nth-child(18n + 5),
	.value:nth-child(18n + 6),
	.weight:nth-child(18n + 7),
	.extended-value:nth-child(18n + 8),
	.extended-weight:nth-child(18n + 9) {
		&:not(.header) {
			background-color: rgba(var(--color-banding), 1);
			color: rgba(var(--color-on-banding), 1);
			@import "roll_banding";
			&.disabled {
				.name,
				.item-notes,
				&.quantity,
				&.uses,
				&.tech-level,
				&.legality-class,
				&.value,
				&.weight,
				&.extended-value,
				&.extended-weight {
					color: rgba(var(--color-on-content), 0.3);
				}
			}
		}
	}

	.disabled {
		.quantity,
		.name,
		.item-notes,
		&.quantity,
		&.uses,
		&.tech-level,
		&.legality-class,
		&.value,
		&.weight,
		&.extended-value,
		&.extended-weight {
			color: rgba(var(--color-on-content), 0.3);
		}
	}
}
