<div>
    <span>{{ modifierTotal }}</span>
    <div class="buttons">
        <a data-action="toggleMagnet" class="fad fa-magnet"></a>
        <hr />
        <a data-action="clearModifiers" class="fas fa-trash"></a>
    </div>
    <button data-action="rollDice">
        <img src="{{ imgDice }}">
    </img>
</button>
</div>
