form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	gap: var(--section-gap);
	overflow: hidden;

	aside#sidebar {
		all: unset;
		position: fixed;
		width: 160px;
		grid-area: sidebar;
		display: grid;
		grid-template-rows: 0fr 0fr 0fr 0fr;

		@import "portrait";

		&::after {
			content: " ";
			height: 50px;
			background-image: linear-gradient(rgb(var(--color-content)), rgb(var(--color-content)), transparent);
		}
	}

	#main {
		margin-left: 160px;
		// margin-top: 70px;
		overflow: visible scroll;

		#basic {
			display: grid;
			grid-template:
				"identity hit-locations"
				"pool-attributes hit-locations"
				"resource-trackers hit-locations";

			@import "attributes", "body_type", "resource_trackers";
		}
	}

	.header {
		grid-area: header;
		background-color: rgba(var(--color-header), 1);
		color: rgba(var(--color-on-header), 1);
		justify-content: center;
		text-align: center;
		padding-bottom: 2px;
		font: var(--font-page-primary-labels);
		height: min-content;
	}

	.fieldblock,
	.fieldblock3,
	.fieldblock6,
	.fieldblock7 {
		display: grid;
		white-space: nowrap;
		background-color: rgb(var(--color-content));
		color: rgb(var(--color-on-content));

		> * {
			padding: var(--padding-standard);
		}
	}

	.fieldblock {
		grid-template-columns: 0fr 1fr;
		align-items: end;
		text-align: left;
		align-self: stretch;
	}

	.fieldblock3 {
		grid-template-columns: 0fr 0fr 1fr;
	}

	.fieldblock6 {
		grid-template-columns: repeat(6, auto);
	}

	.fieldblock7 {
		grid-template-columns: repeat(7, auto);
	}

	.label {
		font: var(--font-page-primary-labels);
		padding: var(--padding-standard);
	}

	.field {
		font: var(--font-page-primary-fields);
	}

	.fieldblock {
		grid-template-columns: 0fr 1fr;
		align-items: end;
		text-align: left;
		align-self: stretch;
	}

	.fieldblock3 {
		grid-template-columns: 0fr 0fr 1fr;
	}

	.fieldblock6 {
		grid-template-columns: repeat(6, auto);
	}

	.fieldblock7 {
		grid-template-columns: repeat(7, auto);
	}

	.label {
		font: var(--font-page-primary-labels);
		padding: var(--padding-standard);
	}

	.field {
		font: var(--font-page-primary-fields);
	}

	.rollable:not(.noroll) {
		cursor: pointer;

		input {
			color: inherit;
		}

		&[data-type="modifier"] {
			background: var(--background-mod);
			color: rgb(var(--color-on-button-mod)) !important;

			&.hover {
				background: rgb(var(--color-button-mod-rollover)) !important;
				color: rgb(var(--color-on-button-mod-rollover)) !important;
			}
		}

		&:not([data-type="modifier"]) {
			background: var(--background-roll);
			color: rgb(var(--color-on-button-roll)) !important;

			&.hover {
				background: rgb(var(--color-button-roll-rollover)) !important;
				color: rgb(var(--color-on-button-roll-rollover)) !important;
			}

			&.neg {
				background: var(--background-roll-neg) !important;

				&.hover {
					background: rgb(var(--color-failure)) !important;
					color: rgb(var(--color-on-button-roll-rollover)) !important;
				}
			}

			&.pos {
				background: var(--background-roll-pos) !important;

				&.hover {
					background: rgb(var(--color-success)) !important;
					color: rgb(var(--color-on-button-roll-rollover)) !important;
				}
			}
		}
	}

	input {
		padding: 0;
		border: none;
		border-bottom: 1px solid rgba(var(--color-control-edge), 1);
		border-radius: 0;
		color: rgba(var(--color-on-editable), 1);
		background: rgba(var(--color-editable), 1);
		height: 100%;
		min-width: 20px;
		width: calc(100% - 2px);

		&:focus {
			box-shadow: none;
			border-bottom-color: rgba(var(--color-accent), 1);
		}

		&:disabled {
			border-bottom-color: transparent;
			background-color: transparent;
		}
	}

	select {
		appearance: none;
		font: var(--font-field);
		background-color: rgb(var(--color-editable));
		color: rgb(var(--color-on-editable));
		border: none;
		border-bottom: 1px solid rgb(var(--color-control-edge));
		border-radius: 0;
		padding: 0;
		height: 17px;
		width: max-content;
		align-items: self-end;

		option {
			font: var(--font-system);
			background-color: rgb(var(--color-control));
			color: rgb(var(--color-on-control));
			border: 1px solid rgb(var(--color-control-edge));
		}

		&:focus {
			box-shadow: none;
		}
	}
}
