#portrait {
	// Layout
	display: grid;
	grid-template:
		"header"
		"portrait";
	grid-template-rows: 0fr auto;
	border: var(--standard-border);

	// Image displayed as background-image
	.img-display {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		max-width: 158px;
		aspect-ratio: 1/1;

		// Actual portait element (invisible)
		.profile-img {
			display: block;
			opacity: 0;
			width: 100%;
			aspect-ratio: 1/1;
			border: none;
		}
	}
}
