#embeds {
	display: grid;
	width: 100%;

	header {
		// display: flex;
		display: grid;
		background-color: rgb(var(--color-header));
		color: rgb(var(--color-on-header));

		> * {
			display: flex;
			justify-content: center;
			padding: var(--padding-header);
		}

		.reference {
			border: none;
			border-left: 1px solid rgb(var(--color-interior-divider));
			border-radius: 0;
			color: inherit;
			padding: none;
		}
	}

	ul.items {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			background-color: rgb(var(--color-content));
			color: rgb(var(--color-on-content));

			&:nth-of-type(even) {
				background-color: rgb(var(--color-banding));
				color: rgb(var(--color-on-banding));
			}

			&.drop-highlight {
				background: #b7f8c7;
			}

			&.drag-preview {
				opacity: 0;
				// box-shadow: 0 0 6px inset red;
			}

			// The gap left by an item being dragged to a new position
			&.drag-gap {
				// visibility: hidden;
				// color: red;
				// background-color: red;
				border: 2px dashed rgb(var(--color-drop-area));
			}

			> .data {
				display: grid;

				> * {
					padding: var(--padding-standard);
				}

				.desc {
					display: grid;
					justify-content: start;
					grid-template:
						"dropdown name"
						"blank notes";

					.dropdown {
						min-width: 0.75em;
						margin-right: 6px;
					}

					.name {
						font: inherit;
						background: transparent;
						color: inherit;
						grid-area: name;
					}

					.item-notes {
						grid-area: notes;
						font: var(--font-page-secondary-fields);
					}
				}

				.points {
					text-align: end;
				}

				.reference {
					display: flex;
					flex-wrap: wrap;
					justify-content: start;
				}
			}
		}
	}
}

#traits {
	.points,
	.reference {
		border-left: 1px solid rgb(var(--color-interior-divider));
	}

	// .desc {
	// 	flex-basis: 80%;
	// }
	//
	// .points {
	// 	flex-basis: 10%;
	// }
	//
	// .reference {
	// 	flex-basis: 10%;
	// }

	header,
	ul.items > li > .data {
		grid-template-columns: 75% 10% 15%;
	}
}

// #embeds,
// ul.items {
// display: flex;
// flex-direction: column;
// position: relative;
// width: 100%;
// .desc {
//
// 	align-items: center;
// 	display: flex;
// 	font-weight: 500;
// 	gap: 0.25rem;
// 	padding-right: 0.25rem;
// }
//
// .points,
// .quantity,
// .reference,
// .item-controls {
// 	align-items: center;
// 	display: flex;
// }
//
// .reference {
// 	display: flex;
// 	justify-content: start;
// }
//
// .item-controls {
// 	flex-basis: 5.625rem;
// 	font-size: var(--font-size-12);
// 	gap: 1px;
// 	justify-content: end;
// }
// }

// #embeds {
// 	overflow: hidden scroll;
// 	height: calc(100% - 60px);
// 	padding-right: 0.15rem;
// }

// #embeds header,
// .total-bulk {
// align-items: center;
// background-color: var(--color-pf-alternate);
// color: var(--color-text-light-0);
// display: flex;
// font-family: var(--sans-serif);
// font-size: var(--font-size-10);
// letter-spacing: 0.05em;
// line-height: 1;
// margin-top: var(--space-6);
// padding: var(--space-4) 0;
// text-rendering: optimizeLegibility;
// text-transform: uppercase;
// width: 100%;
//
// 	&:first-child {
// 		margin-top: 0;
// 	}
//
// 	.item-controls {
// 		gap: var(--space-4);
// 	}
// }

// #embeds header {
// 	.desc {
// 		padding-left: var(--space-8);
// 	}
//
// 	> :last-child {
// 		padding-right: var(--space-4);
// 	}
//
// 	> span {
// 		justify-content: center;
// 	}
// }

// ul.items {
// 	border-top: none;
// 	border: 1px solid var(--border-color);
// 	display: flex;
// 	flex-direction: column;
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
//
// 	> li {
// 		width: 100%;
//
// 		&:nth-of-type(even) {
// 			// background-color: rgba($alt-color, 0.1);
// 		}
//
// 		&:last-child .item-summary {
// 			border-bottom: none;
// 		}
//
// 		> .data {
// 			display: flex;
// 			flex-wrap: wrap;
// 			font-size: var(--font-size-12);
// 			justify-content: flex-start;
// 			width: 100%;
//
// 			&.drop-highlight {
// 				background: #b7f8c7;
// 			}
// 		}
//
// 		.points,
// 		.reference {
// 			justify-content: center;
// 			padding-right: 0.2em;
// 		}
// 	}
//
// 	&.drag-preview {
// 		box-shadow: 0 0 6px inset var(--color-shadow-highlight);
// 	}
//
// 	// The gap left by an item being dragged to a new position
// 	&.drag-gap {
// 		visibility: hidden;
// 	}
//
// 	.item-summary {
// 		background: rgba(white, 0.333);
// 		border-bottom: 1px solid var(--color-pf-alternate);
// 		border-top: 1px solid var(--color-pf-alternate);
// 		flex: 100%;
// 		padding: var(--space-4) var(--space-8) var(--space-8);
// 	}
// }

// #embeds {
// @import "reactions", "conditional_modifiers", "melee", "ranged", "traits", "skills", "spells", "equipment",
// 	"other_equipment", "notes", "effects";
// @import "reactions", "conditional_modifiers", "melee", "ranged", "skills", "spells", "equipment", "other_equipment",
// 	"notes", "effects";

// ul.items {
// 	display: flex;
// 	flex-direction: column;
// 	position: relative;
// 	width: 100%;
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
//
// 	> li {
// 		width: 100%;
// 		background-color: rgba(var(--color-content), 1);
// 		color: rgba(var(--color-on-content), 1);
// 		font: var(--font-page-primary-fields);
//
// 		&:nth-of-type(even) {
// 			background-color: rgb(var(--color-banding));
// 			color: rgb(var(--color-on-banding));
// 		}
//
// 		> .data {
// 			display: flex;
// 			justify-content: flex-start;
// 			width: 100%;
//
// 			div.desc {
// 				flex: 2;
// 				display: grid;
// 				grid-template:
// 					"dropdown name"
// 					"blank notes";
// 				grid-template-columns: min-content auto;
//
// 				.dropdown {
// 					min-width: 0.75em;
// 					margin-right: 6px;
// 				}
//
// 				.name {
// 					font: inherit;
// 					background: transparent;
// 					color: inherit;
// 					grid-area: name;
// 				}
//
// 				.item-notes {
// 					grid-area: notes;
// 				}
// 			}
// 		}
// 	}
// }
//
// div.reference {
// 	display: flex;
// 	flex-direction: row;
// 	color: rgb(var(--color-link));
// }
//
// header {
// 	align-items: center;
// 	background-color: rgb(var(--color-header));
// 	color: rgb(var(--color-on-header));
// 	display: flex;
// 	justify-content: end;
// 	padding: var(--padding-header);
// 	width: 100%;
//
// 	&:first-child {
// 		margin-top: 0;
// 	}
//
// 	> span {
// 		justify-content: center;
// 	}
//
// 	// align-items: center;
// 	// width: 100%;
// 	// display: flex;
// 	// padding: var(--padding-header);
// 	// background-color: rgb(var(--color-header));
// 	// color: rgb(var(--color-on-header));
// 	// white-space: nowrap;
//
// 	> * {
// 	}
//
// 	div.reference,
// 	div.reference .ref {
// 		color: rgb(var(--color-on-header));
// 	}
// }
//
// #traits {
// 	grid-area: traits;
//
// 	header,
// 	li .data {
// 		> * {
// 			padding: var(--padding-standard);
// 		}
//
// 		.points {
// 			flex-basis: 4.25rem;
// 		}
//
// 		div.reference {
// 			flex-basis: 2.5rem;
// 		}
// 	}
// }
// > * > .header {
// 	grid-area: auto;
// }
//
// display: grid;
// grid-auto-columns: 1fr 1fr;
// gap: var(--section-gap);
//
// .item-list.hover {
// 	border: 1px solid red !important;
// }
//
// .placeholder {
// 	height: 16px;
// 	border-bottom: none;
// }
//
// > div {
// 	display: grid;
// 	grid-auto-rows: 0fr;
// }
//
// .ph::before {
// 	content: "";
// }
//
// .item-list.dragsection::before,
// .item-list.dragindirect::before {
// 	content: "";
// 	display: block;
// 	position: absolute;
// 	top: var(--top);
// 	left: var(--left);
// 	width: var(--width);
// 	height: var(--height);
// 	pointer-events: none;
// }
//
// .item-list.dragsection::before {
// 	border: 2px solid red;
// 	box-sizing: border-box;
// }
//
// .item-list.dragindirect::before {
// 	background-color: rgba(var(--color-drop-area), 0.5);
// }
//
// > div > .desc {
// 	display: grid;
// 	grid-template:
// 		"dropdown name"
// 		"blank notes";
// 	grid-template-columns: min-content auto;
//
// 	.dropdown {
// 		min-width: 0.75em;
// 		margin-right: 6px;
// 	}
//
// 	.name {
// 		font: inherit;
// 		background: transparent;
// 		color: inherit;
// 		grid-area: name;
// 	}
//
// 	.item-notes {
// 		grid-area: notes;
// 	}
// }
//
// > div > div {
// 	border-right: 1px solid rgb(var(--color-interior-divider));
// 	border-bottom: 1px solid rgb(var(--color-interior-divider));
//
// 	&.header {
// 		border-bottom: none;
// 	}
//
// 	&.st,
// 	&.condition,
// 	&.reference {
// 		border-right: none;
// 	}
// }
//
// > div > :not(.header) {
// 	padding: var(--padding-standard);
//
// 	&.quantity {
// 		min-width: 1em; //possibly unnecessary
// 	}
//
// 	&.border-top {
// 		border-top: 2px dashed rgb(var(--color-drop-area));
//
// 		&.desc {
// 			border-top: none;
//
// 			.name {
// 				border-top: 2px dashed rgb(var(--color-drop-area));
// 			}
// 		}
// 	}
//
// 	&.border-bottom {
// 		border-bottom: 2px dashed rgb(var(--color-drop-area));
//
// 		&.desc {
// 			border-bottom: none;
//
// 			.item-notes {
// 				border-bottom: 2px dashed rgb(var(--color-drop-area));
// 			}
// 		}
// 	}
//
// 	&.border-in {
// 		border-top: 2px dashed rgb(var(--color-drop-area));
// 		border-bottom: 2px dashed rgb(var(--color-drop-area));
//
// 		&.desc {
// 			border-left: 2px dashed rgb(var(--color-drop-area));
// 		}
//
// 		&.reference {
// 			border-right: 2px dashed rgb(var(--color-drop-area));
// 		}
// 	}
// }
//
// .desc.header {
// 	white-space: nowrap;
// }

// .equipped,
// .header.reference,
// .header.weight,
// .header.value,
// .header.extended-weight,
// .header.extended-value {
// 	display: grid;
// 	align-items: center;
// 	grid-auto-flow: column;
// 	gap: 1px;
// }
//
// .points,
// .level,
// .quantity,
// .uses,
// .tech-level,
// .legality-class,
// .weight,
// .value,
// .extended-weight,
// .extended-value {
// 	&:not(.header) {
// 		text-align: right;
// 	}
// }

// > div > .header {
// 	padding: var(--padding-header);
// }
//
// > div > :not(.header):not(svg) {
// 	background-color: rgba(var(--color-content), 1);
// 	color: rgba(var(--color-on-content), 1);
// 	font: var(--font-page-primary-fields);
// }
//
// .item-notes,
// .item-notes > div {
// 	font: var(--font-page-secondary-fields);
// 	background-color: transparent;
// 	overflow-x: hidden;
//
// 	&.unsatisfied {
// 		display: flex;
// 		gap: 5px;
// 		background-color: rgb(var(--color-error));
// 		color: rgb(var(--color-on-error));
// 		width: fit-content;
// 		padding: 0 5px;
// 	}
// }

// .reference:not(.header) {
// 	display: flex;
// 	flex-direction: row;
// 	color: rgba(var(--color-link), 1) !important;
//
// 	.ref {
// 		background-color: transparent;
// 		cursor: pointer;
//
// 		&:hover {
// 			color: rgba(var(--color-link-rollover), 1) !important;
// 		}
//
// 		&:active {
// 			color: rgba(var(--color-link-pressed), 1) !important;
// 		}
// 	}
// }

// .dropdown a {
// 	background-color: inherit;
//
// 	svg {
// 		background-color: inherit;
// 		fill: rgba(var(--color-on-content), 1);
// 		width: 0.75em;
// 	}
// }
// }
