#embeds {
	display: grid;
	width: 100%;
	grid-template-columns: 50% 50% !important;
	gap: var(--section-gap);

	> div {
		background-color: rgb(var(--color-content));
	}

	header,
	ul.items > li > .data {
		.item-name,
		.level,
		.rsl,
		.points {
			border-right: 1px solid rgb(var(--color-interior-divider));
		}
	}

	header {
		// display: flex;
		display: grid;
		background-color: rgb(var(--color-header));
		color: rgb(var(--color-on-header));

		> * {
			display: flex;
			justify-content: center;
			padding: var(--padding-header);
		}

		.reference {
			border: none;
			border-radius: 0;
			color: inherit;
			padding: none;
		}
	}

	ul.items {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		height: calc(100% - 18px);

		&:not([data-container-id]) {
			min-height: 18px;
		}

		> li {
			background-color: rgb(var(--color-content));
			color: rgb(var(--color-on-content));

			&.drop-highlight > div.data {
				outline: 2px solid rgba(var(--color-drop-area), 128);
				outline-offset: -2px;
			}

			&.drag-preview {
				opacity: 0;
				// box-shadow: 0 0 6px inset red;
			}

			// The gap left by an item being dragged to a new position
			&.drag-gap {
				border: 2px dashed rgb(var(--color-drop-area));
			}

			> .data {
				display: grid;

				> * {
					padding: var(--padding-standard);
					border-bottom: 1px solid rgb(var(--color-interior-divider));
				}

				.item-name {
					display: grid;
					justify-content: start;
					grid-template:
						"dropdown name"
						"blank notes";

					.dropdown {
						min-width: 0.75em;
						margin-right: 6px;
					}

					.name {
						font: inherit;
						background: transparent;
						color: inherit;
						grid-area: name;
					}

					.item-notes {
						grid-area: notes;
						font: var(--font-page-secondary-fields);
					}
				}

				.points {
					text-align: end;
				}

				.reference {
					display: flex;
					flex-wrap: wrap;
					justify-content: start;
				}
			}
		}
	}
}

#reactions {
	grid-area: reactions;

	header,
	ul.items > li > .data {
		grid-template-columns: 2.5rem auto;
	}
}

#conditional_modifiers {
	grid-area: conditional_modifiers;

	header,
	ul.items > li > .data {
		grid-template-columns: 2.5rem auto;
	}
}

#traits {
	grid-area: traits;

	header,
	ul.items > li > .data {
		grid-template-columns: auto 2.5rem 3.5rem;
	}
}

#skills {
	grid-area: skills;

	header,
	ul.items > li > .data {
		grid-template-columns: auto 2.5rem 3rem 2.5rem 3.5rem;
	}
}

#spells {
	grid-area: spells;

	header,
	ul.items > li > .data {
		grid-template-columns: auto 2.5rem 3rem 2.5rem 3.5rem;
	}
}

#equipment {
	grid-area: equipment;

	header,
	ul.items > li > .data {
		grid-template-columns: 1rem 1.25rem auto 2.5rem 2rem 2rem 2.5rem 2.5rem 2.5rem 2.5rem 3.5rem;
	}
}

#other_equipment {
	grid-area: other_equipment;

	header,
	ul.items > li > .data {
		grid-template-columns: 1.25rem auto 2.5rem 2rem 2rem 2.5rem 2.5rem 2.5rem 2.5rem 3.5rem;
	}
}
