<form class="{{ cssClass }}" autocomplete="off">
	<section id="personal">
		{{>actor/character/partials/portrait }} {{>actor/character/partials/identity }}
		{{>actor/character/partials/miscellaneous }} {{>actor/character/partials/description }}
		{{>actor/character/partials/points pb=actor.pointsBreakdown}}
	</section>
	<section id="stats">
		<div id="attributes">
			{{>actor/character/partials/primary-attributes }} {{>actor/character/partials/basic-damage }}
			{{>actor/character/partials/secondary-attributes }} {{>actor/character/partials/pool-attributes }}
		</div>
		{{>actor/character/partials/hit-location-table}}
		<div id="encumbrance-lifting">
			{{>actor/character/partials/encumbrance }}
			<div id="lifting-macros">
				<header>
					<nav class="header tabs-navigation" data-group="lifting">
						<a class="item" data-tab="lifting">{{ localize "gurps.character.lifting.title" }}</a>
						<a class="item" data-tab="macros">{{ localize "gurps.character.macros.title" }}</a>
					</nav>
				</header>
				<section class="tabs-content">
					{{>actor/character/partials/lifting }} {{>actor/character/partials/macros }}
				</section>
			</div>
		</div>
		{{>actor/character/partials/resource-trackers }} {{>actor/character/partials/move }}
	</section>
	{{>actor/character/partials/embeds}}
	<section id="footer">
		<div>{{{ localize "gurps.character.copyright" current_year=currentYear }}}</div>
		<a tabindex="-1" href="https://gurpscharactersheet.com/">gurpscharactersheet.com</a>
	</section>
</form>
