<fieldset class="details-features">
	<legend>{{localize "GURPS.Item.Features.DetailsLegend"}}</legend>
	<button data-action="addFeature"><i class="fa-regular fa-plus"></i></button>
	<ul>
		<!-- Iterate over features -->
		{{#each system.features as |feature|}}
		<!-- Gap between entries -->
		{{#unless @first}}
		<hr />
		{{/unless}}
		<!-- Generated feature partial -->
		{{feature.element}}
		<!-- End Loop -->
		{{/each}}
	</ul>
</fieldset>
