<div class="items-section" data-types="weaponMelee">
	<div class="items-header">
		<div class="item-header item-usage">Melee Weapon Usage</div>
		<div class="item-header item-skill-level">SL</div>
		<div class="item-header item-damage">Damage</div>
		<div class="item-header item-parry">Parry</div>
		<div class="item-header item-block">Block</div>
		<div class="item-header item-reach">Reach</div>
		<div class="item-header item-strength">ST</div>
		<div class="item-header item-controls"></div>
	</div>
	<ul class="item-list">
		{{#each weaponsMelee}} {{> "gurps.embeds-entry" item=this}} {{/each}}
	</ul>
</div>
