<div class="items-section" data-types="{{join system.modifierTypes ','}}">
	<div class="items-header">
		<i class="fa-solid fa-check item-header item-toggle"></i>
		<div class="item-header item-name">Equipment Modifier</div>
		<div class="item-header item-tech-level">TL</div>
		<div class="item-header item-value-adjustment">Cost Adjustment</div>
		<div class="item-header item-weight-adjustment">Weight Adjustment</div>
		<div class="item-header item-controls"></div>
	</div>
	<ul class="item-list">
		{{#each modifiers}} {{> "gurps.embeds-entry" item=this}} {{/each}}
	</ul>
</div>
