<div class="items-section" data-types="{{join system.childTypes ','}}">
	<div class="items-header">
		<div class="item-header item-name">Name</div>
		<div class="item-header item-controls"></div>
	</div>
	<ul class="item-list">
		{{#each children}} {{> "gurps.embeds-entry" item=this}} {{/each}}
	</ul>
</div>
