@media (max-width: 1120px) {
	#modifier-bucket-button {
		height: calc(var(--hotbar-height) * 2) !important;
		margin-left: 40px;
	}
}

#current-actor {
	position: fixed;
	transform: translateY(-35px);
	width: inherit;
	background: rgba(var(--color-control), 0.8);
	color: rgb(var(--color-on-control));
	padding: 5px;
	border: 2px solid rgb(var(--color-control-edge));
	border-radius: 5px;
}

#modifier-bucket-button {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 5px;
	pointer-events: auto;
	height: 52px;
	font: var(--font-system);
	font-size: var(--font-size-20);
	color: rgb(var(--color-on-control));
	background-color: rgba(var(--color-control), 0.8);
	border: 2px solid rgb(var(--color-control-edge));
	border-radius: 4px;
	padding: 5px;
	align-items: center;
	text-align: center;

	> .total {
		/* min-width: 25px; */
		text-align: left;

		&.total-white {
			color: rgb(var(--color-on-control));
		}

		&.total-green {
			color: rgb(var(--color-success));
		}

		&.total-red {
			color: rgb(var(--color-failure));
		}
	}

	.buttons {
		translate: 0px -3px;
		font-size: var(--font-size-12);
		display: grid;
		grid-gap: 1px;
		grid-auto-flow: row;

		> a {
			color: rgb(var(--color-icon-button));

			&.sticky {
				--fa-primary-color: rgb(var(--color-magnet));
				--fa-secondary-color: rgb(var(--color-magnet-secondary));
				color: rgb(var(--color-magnet));

				&:hover {
					color: rgb(var(--color-magnet-rollover));
					--fa-primary-color: rgb(var(--color-magnet-rollover));
					--fa-secondary-color: rgb(var(--color-magnet-secondary-rollover));
				}
			}

			padding: 4px 0px;

			&:hover {
				color: rgb(var(--color-icon-button-rollover));
				text-shadow: none;
			}

			&:active {
				color: rgb(var(--color-icon-button-rollover));
				background-color: rgb(var(--color-pressed-icon-button));
				border-radius: 4px;
			}
		}

		> hr {
			border-color: rgb(var(--color-divider));
			width: 20px;
			height: 2px;
			margin: 0;
		}
	}
}

#dice-roller {
	height: 52px;
	pointer-events: auto;
	cursor: pointer;
	img {
		height: 52px;
		border: none;
	}
}
