@media (max-width: 1120px) {
	#modifier-app {
		height: calc(var(--hotbar-height) * 2) !important;
		margin-left: 40px;
	}
}

#current-actor {
	position: fixed;
	transform: translateY(-35px);
	width: inherit;
	background: rgba(var(--color-control), 0.8);
	color: rgb(var(--color-on-control));
	padding: 5px;
	border: 2px solid rgb(var(--color-control-edge));
	border-radius: 5px;
	cursor: pointer;
}

#modifier-bucket-button {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 5px;
	pointer-events: auto;
	height: 52px;
	font: var(--font-system);
	font-size: var(--font-size-20);
	color: rgb(var(--color-on-control));
	background-color: rgba(var(--color-control), 0.8);
	border: 2px solid rgb(var(--color-control-edge));
	border-radius: 4px;
	padding: 5px;
	align-items: center;
	text-align: center;

	> .total {
		/* min-width: 25px; */
		text-align: left;

		&.total-white {
			color: rgb(var(--color-on-control));
		}

		&.total-green {
			color: rgb(var(--color-success));
		}

		&.total-red {
			color: rgb(var(--color-failure));
		}
	}

	.buttons {
		translate: 0px -3px;
		font-size: var(--font-size-12);
		display: grid;
		grid-gap: 1px;
		grid-auto-flow: row;

		> a {
			color: rgb(var(--color-icon-button));

			&.sticky {
				--fa-primary-color: rgb(var(--color-magnet));
				--fa-secondary-color: rgb(var(--color-magnet-secondary));
				color: rgb(var(--color-magnet));

				&:hover {
					color: rgb(var(--color-magnet-rollover));
					--fa-primary-color: rgb(var(--color-magnet-rollover));
					--fa-secondary-color: rgb(var(--color-magnet-secondary-rollover));
				}
			}

			padding: 4px 0px;

			&:hover {
				color: rgb(var(--color-icon-button-rollover));
				text-shadow: none;
			}

			&:active {
				color: rgb(var(--color-icon-button-rollover));
				background-color: rgb(var(--color-pressed-icon-button));
				border-radius: 4px;
			}
		}

		> hr {
			border-color: rgb(var(--color-divider));
			width: 20px;
			height: 2px;
			margin: 0;
		}
	}
}

#modifier-bucket-window {
	position: absolute;
	display: flex;
	flex-direction: row;
	gap: 4px;
	// align-items: end;
	border: 2px solid rgb(var(--color-focused-tab));
	border-radius: 4px;
	background: rgb(var(--color-background));
	color: rgb(var(--color-on-background));
	padding: 5px;
	z-index: var(--z-index-mod);
	max-height: 600px;

	.column {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.section {
		border: 1px solid rgb(var(--color-header));
		height: 100%;

		.header {
			text-align: center;
		}

		.content {
			background-color: rgb(var(--color-content));
			color: rgb(var(--color-on-content));
			display: flex;
			flex-direction: column;
			gap: 4px;
			padding: 4px;
			height: calc(100% - 18px);

			> div.mod-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 5px;

				.reference {
					display: flex;
					flex-direction: row;
					color: rgba(var(--color-link), 1) !important;

					.ref {
						background-color: transparent;
						cursor: pointer;

						&:hover {
							color: rgba(var(--color-link-rollover), 1) !important;
						}

						&:active {
							color: rgba(var(--color-link-pressed), 1) !important;
						}
					}
				}
			}
		}
	}

	#categories {
		width: 430px;
		max-width: 430px;
		overflow-y: hidden;

		.content {
			gap: 0;
			overflow-y: scroll;
		}
	}

	#custom,
	#send-modifiers {
		max-width: 430px;
		height: min-content;
	}

	#send-modifiers .content {
		flex-direction: row;
		flex-wrap: wrap;
	}

	#stacks {
		width: 320px;
		max-width: 320px;

		#save-current {
			width: 100%;
		}
	}

	.generic {
		display: flex;
		gap: 4px;
		justify-content: center;
	}

	.active {
		display: flex;
		gap: 5px;
	}

	.collapsible,
	.stack {
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		gap: 4px;
		border: 2px solid rgb(var(--color-control-edge));
		border-radius: 4px;
		padding: var(--padding-standard);
		background-color: rgb(var(--color-control));
		color: rgb(var(--color-on-control));

		&.open {
			border-radius: 4px 4px 0 0;
			border-bottom: 0;
		}
	}

	.stack {
		gap: 5px;
		justify-content: space-between;
	}

	.collapsible-content,
	.stack-content {
		display: grid;
		grid-auto-flow: row;
		grid-auto-rows: 0fr;
		border: 2px solid rgb(var(--color-control-edge));
		background-color: rgb(var(--color-control));

		&.open {
			border-radius: 0 0 4px 4px;
		}

		.title {
			text-align: center;
			padding: var(--padding-header);
		}

		.modifier {
			border-radius: 0;
		}
	}

	.active,
	.modifier {
		// margin: auto;
		border: 2px solid;
		border-radius: 4px;
		// max-width: 80%;
		// min-width: 150px;
		padding: var(--padding-standard);
		cursor: pointer;
		transition: all 0.1s linear 0s;
		font-weight: bold;

		&.pos {
			border-color: rgb(var(--color-success));
			background-color: rgb(var(--color-success));
			color: white;

			&:hover {
				color: rgb(var(--color-success));
				background-color: white;
			}
		}

		&.neg {
			border-color: rgb(var(--color-failure));
			background-color: rgb(var(--color-failure));
			color: white;

			&:hover {
				color: rgb(var(--color-failure));
				background-color: white;
			}
		}

		&.zero {
			border-color: rgb(var(--color-skill));
			background-color: rgb(var(--color-skill));
			color: white;

			&:hover {
				color: rgb(var(--color-skill));
				background-color: white;
			}
		}
	}
}

#dice-roller {
	height: 52px;
	width: 70px;
	margin-left: 10px;
	pointer-events: auto;
	cursor: pointer;

	img {
		height: 52px;
		border: none;
	}
}
