<div class="gcs chat-card import-error">
	<header>{{ localize "gurps.error.header" }}</header>
	<div class="content">
		<ul>
			{{#each lines}}
			<li>{{{ this }}}</li>
			{{/each}}
		</ul>
	</div>
</div>

