@mixin header {
	header {
		color: rgb(var(--color-on-header));
		background-color: rgb(var(--color-header));
		padding: var(--padding-header);

		text-align: center;
	}
}

@mixin fieldblock {
	div.fieldblock,
	div.fieldblock-3 {
		display: grid;
		row-gap: 0.25rem;
		column-gap: 0.5rem;

		label {
			align-self: center;
			padding: 0;
			font: var(--font-page-primary-labels);
		}
		div.field {
			padding: 0;
			font: var(--font-page-primary-fields);

			input[type="text"],
			input[type="number"] {
				height: 1.125rem;

				padding: var(--padding-input);
				border: none;
				border-radius: 0;
				border-bottom: 1px solid rgb(var(--color-control-edge));

				color: rgb(var(--color-on-editable));
				background: rgb(var(--color-editable));

				&[disabled] {
					color: inherit;
					background-color: inherit;
					pointer-events: none;
					border-bottom: none;
				}
			}
		}
	}

	div.fieldblock {
		grid-template-columns: min-content auto;

		label {
			text-align: right;
		}
	}

	div.fieldblock-3 {
		grid-template-columns: 0fr 0fr 1fr;
	}
}
