hit-location-table {
	display: block;
	width: fit-content;
	height: fit-content;

	table {
		border-radius: 0.5rem;

		td,
		th {
			padding: 0.25rem;
		}

		th {
			background-color: var(--gurps-color-bg-table-header);
			color: var(--gurps-color-fg-table-header);
			text-align: center;
		}

		tr {
			background-color: var(--gurps-color-bg-table-body);
			color: var(--gurps-color-fg-table-body);
			min-height: 1.625rem;

			&:nth-of-type(even) {
				background-color: var(--gurps-color-bg-table-banding);
			}

			&:nth-last-child {
				border-radius: 0.25rem;
			}
		}

		td.location {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 1rem;

			// TODO: potentially move this to a univeral thing
			a {
				min-width: 2rem;
				padding: 0.125rem;
				border-radius: 0.25rem;
				color: var(--gurps-color-fg-modifier);
				text-align: center;

				&.positive {
					background-color: var(--gurps-color-bg-modifier-pos);
				}
				background-color: var(--gurps-color-bg-modifier-neg);
				&.negative {
				}
				&.neutral {
					background-color: var(--gurps-color-bg-modifier-neutral);
				}
			}
		}
	}
}
