hit-location-table {
	display: block;
	width: fit-content;
	height: fit-content;

	table {
		border-radius: 0.5rem;

		td,
		th {
			padding: 0.25rem;
		}

		th {
			background-color: var(--gurps-color-bg-table-header);
			color: var(--gurps-color-fg-table-header);
			text-align: center;
		}

		tr {
			background-color: var(--gurps-color-bg-table-body);
			color: var(--gurps-color-fg-table-body);
			min-height: 1.625rem;

			&:nth-of-type(even) {
				background-color: var(--gurps-color-bg-table-banding);
			}

			&:nth-last-child {
				border-radius: 0.25rem;
			}
		}

		td.location {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 1rem;

			// TODO: potentially move this to a univeral thing
			a {
				min-width: 2rem;
				padding: 0.125rem;
				border-radius: 0.25rem;
				color: var(--gurps-color-fg-modifier);
				text-align: center;

				&.positive {
					background-color: var(--gurps-color-bg-modifier-pos);
				}
				background-color: var(--gurps-color-bg-modifier-neg);
				&.negative {
				}
				&.neutral {
					background-color: var(--gurps-color-bg-modifier-neutral);
				}
			}
		}
	}
}

.meter {
	border-radius: 3px 3px 0 0;
	height: 25px;
	border: none;
	border-bottom: 1px solid red;
	overflow: hidden;
	background: #0d0b0b;
	display: flex;
	align-items: center;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		block-size: 100%;
		inline-size: calc(var(--bar-percentage) - 3px);
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.45);
		clip-path: polygon(0 0, calc(100% + 6px) 0, calc(100% + 6px) 100%, 0 100%);
		--bar-color-2: color-mix(in oklab, green, red var(--bar-percentage));
		--bar-color-1: color-mix(in oklab, var(--bar-color-2), black 33%);
		--bar-color-3: color-mix(in oklab, var(--bar-color-2), black 20%);
		background: linear-gradient(to right, var(--bar-color-1), var(--bar-color-2));
		border-right: 3px solid var(--bar-color-3);
		border-radius: 3px 3px 0 0;
	}
}
