&.character_gcs {
	--filter-header: hue-rotate(152deg) saturate(0.34) brightness(1.13);
}

// Transparent buttons to apply own background to window header
> header.window-header {
	background: transparent;
	position: relative;
	z-index: 1;

	border: none;
	align-items: center;

	// Make Window Icon and Title invisible in full sheet
	h1.window-title,
	i.window-icon {
		opacity: 0;
	}
}

// Move sheet content up into header
section.window-content {
	padding: 0;
	margin-top: -36px;
	&:before {
		content: "";
		position: absolute;
		inset: 0 0 auto 0;
		height: 160px;
		border-radius: 10px;
		// opacity: 0.5;
		background: url("/assets/header-background.webp") no-repeat top center / cover;
		filter: var(--filter-header);
		mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1) 99%, transparent 100%);
	}
}

header.sheet-header {
	background: none;
	position: relative;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 0.75rem;
	padding: 1.875rem 0.75rem 0 0.75rem;
	align-items: stretch;
	gap: 0.5rem;

	> .left {
		flex: none;
		width: 9rem;
		display: flex;
		justify-content: center;

		img {
			display: block;
			width: 6rem;
			height: 6rem;
			border-radius: 100%;
			background: black;
			border: 4px solid #bbbbbb;
			object-fit: cover;
			margin: 0;
			text-align: center;
			align-content: center;
		}
	}

	> .middle {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		> .document-name {
			font-size: 2.5rem;
		}

		> .actor-title {
			opacity: 0.8;
		}
	}

	> .right {
		flex: 0 0 9rem;
		width: 9rem;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.point-counter {
			background-color: #bbbbbb;
			display: flex;
			flex-direction: row;
			padding: 0.0625rem;
			border: 0.0625rem solid #bbbbbb;
			border-radius: 0.375rem;
			width: fit-content;
			height: fit-content;

			.point-total {
				background-color: #191820;
				height: fit-content;
				padding: 0.125rem 0.25rem;
				border-radius: 5px;

				font-family: "DSEG7 Classic", monospace;
				font-size: 1.25rem;
				color: #69ea54;
			}

			.side {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 0 0.0625rem;
				color: #191820;
				font-family: "Josefin Sans", system-ui;
				font-weight: 400;
				font-size: 0.75rem;
				font-style: normal;
			}
		}
	}

	> .bottom {
		flex-basis: 100%;
		display: flex;
		flex-direction: column;

		&:after {
			content: "";
			background-color: #bbbbbb;
			height: 0.25rem;
			box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
		}

		nav.tabs {
			flex: 0;
			padding-right: 1.5rem;
			gap: 0.375rem;
			display: flex;
			justify-content: flex-end;

			a {
				height: 1.25rem;
				width: 1.25rem;
				background-color: #bbbbbb;
				border-radius: 0.375rem;
				box-shadow: inset 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.4);

				&:after {
					content: "";
					position: relative;
					display: block;
					height: 0.5rem;
					width: 2.5rem;
					left: -0.625rem;
					top: -0.125rem;
					background-color: #bbbbbb;
					border-radius: 1.5rem/0.625rem;
					box-shadow: inset 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.2);
					z-index: -1;
				}

				i {
					color: #2a2a2a;
					margin: auto;
				}

				&.active,
				&:hover {
					text-shadow: 0 0 0.625rem #bdbf93;
					i {
						color: #feffe5;
						transform: translate(0, 0.05rem);
					}
				}
			}
		}
	}
}
