@use "sass:meta";
.gurps.character.sheet {
	--filter-header: hue-rotate(152deg) saturate(0.34) brightness(1.13);
	@include meta.load-css("header");

	@include meta.load-css("combat");

	section.tab[data-tab="equipment"] {
		@include meta.load-css("equipment");
	}

	section.window-content {
		background: var(--gurps-color-dark-gray-1);
	}
}

.gurps.character.sheet.minimized {
	> header.window-header {
		// Make Window Icon and Title visible in minimized sheet
		h1.window-title,
		i.window-icon {
			opacity: 1;
		}
	}
}
