.window-app.gurps.item {
	min-width: 600px;

	.img-display {
		border: 1px solid rgb(var(--color-control-edge));
		height: 80px;
		width: 80px;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		img {
			display: block;
			opacity: 0;
			width: 100%;
			border: none;
		}
	}

	@import "prereq";

	#details,
	#prereqs,
	#features,
	#study,
	#trait-modifiers,
	#equipment-modifiers {
		margin: 2px 16px;
	}

	#details {
		display: grid;
		grid-template: "label field";
		grid-template-columns: max-content 1fr;
		row-gap: 4px;
		column-gap: 9px;

		label {
			display: flex;
			align-self: center;
			flex-direction: row-reverse;

			&.check {
				gap: 5px;
				align-items: center;
			}
		}

		> .field > label.check {
			flex-direction: row;
		}
	}

	#prereqs,
	#features,
	#study,
	#trait-modifiers,
	#equipment-modifiers {
		header {
			background-color: rgb(var(--color-header));
			color: rgb(var(--color-on-header));
			justify-content: center;
			text-align: center;
			padding: var(--padding-header);
		}
		> ul {
			list-style: none;
			min-height: 18px;
			background-color: rgb(var(--color-content));
			border: 1px solid rgb(var(--color-header));
			padding: 5px;
			margin: 0;
		}
	}
}
