.window-app.gurps.item {
	min-width: 600px;

	.img-display {
		border: 1px solid rgb(var(--color-control-edge));
		height: 80px;
		width: 80px;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		img {
			display: block;
			opacity: 0;
			width: 100%;
			height: 100%;
			border: none;
		}
	}

	#details,
	#prereqs,
	#features,
	#study,
	#defaults,
	#trait-modifiers,
	#equipment-modifiers,
	#roll-modifiers {
		margin: 2px 16px;
	}

	#details {
		display: grid;
		grid-template: "label field";
		grid-template-columns: max-content 1fr;
		row-gap: 4px;
		column-gap: 9px;

		label {
			display: flex;
			align-self: center;
			flex-direction: row-reverse;

			&.check {
				gap: 5px;
				align-items: center;
			}
		}

		> .field > label.check {
			flex-direction: row;
		}
	}

	#prereqs,
	#features,
	#study,
	#defaults,
	#roll-modifiers {
		header {
			background-color: rgb(var(--color-header));
			color: rgb(var(--color-on-header));
			text-align: center;
		}
		> ul {
			min-height: 18px;
			background-color: rgb(var(--color-content));
			border: 1px solid rgb(var(--color-header));
			margin: 0;
			overflow-x: hidden;
		}

		li {
			display: flex;
			gap: 5px;
			align-items: center;
		}
	}

	#prereqs,
	#features,
	#study,
	#defaults,
	#roll-modifiers {
		header {
			justify-content: center;
			padding: var(--padding-header);
		}

		> ul {
			padding: 5px;
		}

		ul {
			gap: 5px;
		}
	}

	#prereqs,
	#features,
	#roll-modifiers {
		li {
			flex-direction: column;
			align-items: flex-start;

			> div {
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}

		div.placeholder {
			width: 14px;
		}
	}

	#trait-modifiers,
	#equipment-modifiers {
		@include item-list;
	}

	#prereqs {
		> ul > li li {
			margin-left: 6px;
		}
	}

	#features {
		label.check {
			white-space: nowrap;
		}
	}

	#trait-modifiers {
		header,
		ul.items > li > .data {
			grid-template-columns: 1.5rem auto 8rem 3rem 3.5rem;
		}
	}

	#equipment-modifiers {
		header,
		ul.items > li > .data {
			grid-template-columns: 1.5rem auto 1.5rem 8rem 9rem 3rem 3.5rem;
		}
	}
}
