.item.sheet section.window-content {
	@import "embeds";

	@include details;

	background: rgb(var(--color-background));

	form {
		display: flex;
		flex-flow: column nowrap;
		row-gap: 4px;
	}

	#details {
		display: grid;
		grid-template-columns: max-content 1fr;
		row-gap: 4px;
		column-gap: 9px;
	}

	#prereqs,
	#features,
	#study,
	#defaults,
	#roll-modifiers {
		@include header;
		background-color: rgb(var(--color-content));
		color: rgb(var(--color-on-content));

		> ul {
			min-height: 1.125rem;
			background-color: rgb(var(--color-content));
			border: 1px solid rgb(var(--color-header));
			margin: 0;
			overflow-x: hidden;
			padding: 5px;
		}

		li {
			display: flex;
			gap: 5px;
			align-items: center;
			align-items: flex-start;
			flex-direction: column;

			> div {
				display: flex;
				gap: 5px;
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		div.placeholder {
			width: 1rem;
		}
	}

	#prereqs {
		> ul > li li {
			margin-left: 6px;
		}
	}

	#features {
		label.check {
			white-space: nowrap;
		}
	}

	#study {
		li {
			flex-direction: row;
		}
	}

	.img-display {
		border: 1px solid rgb(var(--color-control-edge));
		height: 80px;
		width: 80px;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		img {
			display: block;
			opacity: 0;
			width: 100%;
			height: 100%;
			border: none;
		}
	}
}
