#prereqs {
	> ul > li li {
		margin-left: 6px;
	}

	ul {
		list-style: none;
	}

	li {
		div.placeholder {
			width: 14px;
		}

		> div {
			display: flex;
			align-items: center;
			gap: 5px;
		}
	}
}
